<div class="form-group {*if $classes*}{*$classes[1]*}{*else*}col-4{*/if*} " >
    <label for="select-{*$name*}" class="{*if $row*}{*$row[1]*}{*/if*} col-form-label">{*$title*}{*if $required == true*}<span class="require-mark">*</span>{*/if*}</label>

    <div v-for="part,index in level_list" class="{*if $row*}row{*/if*} pb-2">
        <div class="col-11 pt-2 "><span class="pl-3">第{{ index+1 }}项:</span> </div>
        <div class="col-1 pt-2"><span class="pt-2 select-vue-close-btn" @click="removePositionLevel(index)" v-if="level_list.length >1"><i class="pl-5 ion-close-circled"></i></span></div>
        <div class="col-4">
            <el-select @change="getSecondLevelList(part)"  v-model="part.first_level" :name="`{*$name*}[${index}][]`" id="select-{*$name*}" class="custom-select" filterable
                       {*if $required == true*}data-required ="true" {*/if*}
            data-describedby="{*$name*}-error"
            {*if $c_type *} data-description="{*$c_type*}" {*else*}data-description="select"{*/if*}
            >


            <el-option value="">请选择...</el-option>

            <el-option v-for="item,index in part.first_level_list"

                       :key="item"
                       :label="item.label"
                       :value="item"
            >
            </el-option>



            <div id="{*$name*}-error" class="invalid-feedback" >

            </div>
        </div>


        <div class="col-4">
            <el-select @change="getThirdLevelList(part)"  v-model="part.second_level" :name="`{*$name*}[${index}][]`"  class="custom-select" filterable
                       {*if $required == true*}data-required ="true" {*/if*}
            data-describedby="{*$name*}-error"
            {*if $c_type *} data-description="{*$c_type*}" {*else*}data-description="select"{*/if*}
            >


            <el-option value="">请选择...</el-option>

            <el-option v-for="item,index in part.second_level_list"

                       :key="item"
                       :label="item.label"
                       :value="item"
            >
            </el-option>



            <!--        <div id="{*$name*}-error" class="invalid-feedback" >

                    </div>-->
        </div>
        <div class="col-4">
            <el-select  v-model="part.third_level" :name="`{*$name*}[${index}][]`"  class="custom-select" filterable
                        {*if $required == true*}data-required ="true" {*/if*}
            data-describedby="{*$name*}-error"
            {*if $c_type *} data-description="{*$c_type*}" {*else*}data-description="select"{*/if*}
            >


            <el-option value="">请选择...</el-option>

            <el-option v-for="item,index in part.third_level_list"

                       :key="item"
                       :label="item.label"
                       :value="item"
            >
            </el-option>



            <!--        <div id="{*$name*}-error" class="invalid-feedback" >

                    </div>-->
        </div>
    </div>
    <div class="d-flex justify-content-center bd-highlight m-3">
        <a v-if="level_list.length <=4" class="btn btn-success" @click="createPositionLevel()">添加一项</a>
    </div>
</div>

